body{
    background-image: url(img/fondo.jpg);
    color:antiquewhite
}

h1{
    text-align: center;
    text-decoration: underline;
}

li{
    list-style: upper-roman;
    font-size: large;
    font-weight: bolder;
    text-decoration: underline;

}

#tema1,#tema2,#tema3,#tema4,#tema5{
    list-style:decimal;


}

#sub1,#sub2{
    list-style: upper-alpha;
}

li{
    margin: 1%;
}

li:hover{
    background-color: gray;
    border: 1px solid black;
    cursor:pointer;
    text-transform: uppercase;
    font-size: 1.2em;
    color: black;
}

footer a{
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
    background-color: white;
}

footer {
    display:flex;
    align-items: center;
    justify-content: center;
}
