/*Hoja de estilo para el estilo de textos, párrafos, headers...*/

#cabecera{

    color: white;
    font-size: 2em;
}

#cabecera p{

    text-align: center;
    font-family: 'Smooch Sans', sans-serif; 
    font-size: larger;
    font-weight: bolder;
}

nav a{
    color: #555;
    text-decoration: none;
    text-align: center;
    font-family: 'Smooch Sans', sans-serif; 
    font-weight: bolder;
    font-size: 175%;
}

article{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}

p{

    text-align: justify;

}

#Aficiones h1{
    
    text-align: center;
    text-decoration: underline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

article h3{

    text-decoration: underline;

}



#piepag footer{

    text-align: center;
    color: white;

}

h2#feeds{

    text-align: left;
    justify-content: left;
    text-decoration: underline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px; 
    margin-left: 1%;

}